/WebApplicationColaboration/nbproject/private/
/WebApplicationColaboration/dist/
/WebApplicationColaboration/build/
/WebApplicationCinema/nbproject/private/
/WebApplicationCinema/build/
/WebApplicationCinema/dist/
/WebApplicationCookie/nbproject/private/
/WebApplicationCookie/build/
/WebApplicationServletLoginLogout/nbproject/private/
/WebApplicationServletLoginLogout/build/
/WebApplicationServletLoginLogout/dist/
/WebApplicationHttpSession/nbproject/private/
/WebApplicationHttpSession/dist/
/WebApplicationHttpSession/build/