/WebApplicationColaboration/nbproject/private/
/WebApplicationColaboration/dist/
/WebApplicationColaboration/build/
/WebApplicationCinema/nbproject/private/
/WebApplicationCinema/build/
/WebApplicationCinema/dist/
/WebApplicationCookie/nbproject/private/
/WebApplicationCookie/build/
/WebApplicationServletLoginLogout/nbproject/private/
/WebApplicationServletLoginLogout/build/
/WebApplicationServletLoginLogout/dist/
/WebApplicationHttpSession/nbproject/private/
/WebApplicationHttpSession/dist/
/WebApplicationHttpSession/build/
/WebApplicationDB/nbproject/private/
/WebApplicationDB/build/
/WebApplicationDB/dist/
/WebApplicationDBScroll/nbproject/private/
/WebApplicationDBScroll/build/
/WebApplicationDBScroll/dist/
/PrimerParcialSD/nbproject/private/
/PrimerParcialSD/dist/
/PrimerParcialSD/build/
/WebJS/nbproject/private/
/WebJS/build/
/WebJS/dist/
/FormValidate/nbproject/private/
/FormValidate/dist/
/FormValidate/build/
/WebApplicationJSON/nbproject/private/
/WebApplicationJSON/build/
/WebApplicationJSON/dist/
/WebApplicationDetallesClientes/nbproject/private/
/WebApplicationDetallesClientes/dist/
/WebApplicationDetallesClientes/build/
/MyFirstWebService/nbproject/private/
/MyFirstWebService/dist/
/MyFirstWebService/build/
/ClienteJavaAppWS/nbproject/private/
/ClienteJavaAppWS/build/
/WebApplicationCliente1/nbproject/private/
/WebApplicationCliente1/build/
/WebApplicationCliente1/dist/
/RESTfulWebServices/nbproject/private/
/RESTfulWebServices/build/
/RESTfulWebServices/dist/
/JavaApplicationRestfulClient/nbproject/private/
/WebApplicationRestfulClient/nbproject/private/
/JavaApplicationRestfulClient/build/
/WebApplicationRestfulClient/build/
/LabSoap/nbproject/private/
/LabSoap/build/
/LabSoap/dist/
/LabRest/nbproject/private/
/LabRest/build/
/LabRest/dist/
/LabRestClient/nbproject/private/
/LabRestClient/build/
/JMSqueue/nbproject/private/
/JMSqueue/JMSqueue-war/nbproject/private/
/JMSqueue/JMSqueue-ejb/nbproject/private/
/JMSqueue/dist/
/JMSqueue/build/
/JMSTopic/nbproject/private/
/JMSTopic/build/
/JMSTopic/dist/